[submodule "opencilk-project"]
	path = opencilk-project
	url = https://github.com/Flowdalic/opencilk-project.git
[submodule "productivity-tools"]
	path = productivity-tools
	url = https://github.com/OpenCilk/productivity-tools
[submodule "cheetah"]
	path = cheetah
	url = https://github.com/OpenCilk/cheetah
